In [89]:
##pip  install sqlalchemy

In [107]:
import json
from argparse import ArgumentParser
import requests
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import couchdb
import mysql.connector as msql
import pandas as pd
from sqlalchemy import create_engine
import certifi

In [108]:
host = 'localhost'
port = 3306
db = 'ITERCAMBIO'
user = 'root'
password = 'casa'

In [109]:

engine = create_engine('mysql+mysqldb://root:@localhost:3306/INTERCAMBIO2')

In [110]:
connections = msql.connect(host = 'localhost', user = 'root')
if connections.is_connected():
    cursor = connections.cursor()
    print("Conexión con la base de datos realizada")
else:
    print("Conexion Rechazada")

Conexión con la base de datos realizada

In [111]:
##cursor.execute("CREATE DATABASE INTERCAMBIO2")

In [112]:
connections = msql.connect(host = 'localhost', user = 'root', database ='INTERCAMBIO2')
if connections.is_connected():
    cursor = connections.cursor()
    cursor.execute("select database();")
    record = cursor.fetchone()
    print("Se conectó a la base de datos: ", record)

Se conectó a la base de datos:  ('intercambio2',)

In [113]:
#extraccion de colección
URL = 'http://admin:casa@localhost:5984'
print(URL)
a = []

ca = certifi.where()
CLIENT = MongoClient('mongodb+srv://1223:1223@cluster0.zzwgm.mongodb.net/myFirstDatabase?retryWrites=true&w=majority', tlsCAFile=ca )

try:
    CLIENT.admin.command('ismaster')
    print('MongoDB connection: Success')
except ConnectionFailure as cf:
    print('MongoDB connection: failed', cf)


DBS=['datos_twitter2']


for db in DBS:
    if db not in ('admin', 'local','config'):  
        cols = CLIENT[db].list_collection_names()  
        for col in cols:
            print('Querying documents from collection {} in database {}'.format(col, db))
            for x in CLIENT[db][col].find():
                
                try:
                    
                    documents=json.loads(json_util.dumps(x))

                    documents["_id"]=str(documents["_id"]["$oid"])
                    
                    a.append(documents)
                    

                except TypeError as t:

                    print('current document raised error: {}'.format(t))
                    #SKIPPED.append(x)  # creating list of skipped documents for later analysis
                    continue    # continue to next document
                except Exception as e:
                    raise e

http://admin:casa@localhost:5984
MongoDB connection: Success
Querying documents from collection datos_twitter2 in database datos_twitter2

In [114]:
b = pd.DataFrame(a)

In [115]:
b.to_csv("facebook.csv")

In [116]:
df1 = pd.read_csv("facebook.csv",encoding="utf8")    
print(df1)

    Unnamed: 0                       _id                   id  \
0            0  620863d6ae8fb09cebd27a08  1492614077465739268
1            1  620863d7ae8fb09cebd27a09  1492614104309121024
2            2  620863d7ae8fb09cebd27a0a  1492614105148047362
3            3  620863d7ae8fb09cebd27a0b  1492614107861852166
4            4  620863d7ae8fb09cebd27a0c  1492614116665659400
5            5  620863d8ae8fb09cebd27a0d  1492614118649606145
6            6  620863e4ae8fb09cebd27a0f  1492614077465739268
7            7  620863e5ae8fb09cebd27a10  1492614104309121024
8            8  620863e5ae8fb09cebd27a11  1492614105148047362
9            9  620863e5ae8fb09cebd27a12  1492614107861852166
10          10  620863e6ae8fb09cebd27a13  1492614116665659400
11          11  620863e6ae8fb09cebd27a14  1492614118649606145
12          12  620863f0ae8fb09cebd27a16  1492614077465739268
13          13  620863f1ae8fb09cebd27a17  1492614104309121024
14          14  620863f2ae8fb09cebd27a18  1492614105148047362
15          15  620863f2ae8fb09cebd27a19  1492614107861852166
16          16  620863f2ae8fb09cebd27a1a  1492614116665659400
17          17  620863f2ae8fb09cebd27a1b  1492614118649606145

                                                texto  coordinates
0   Good day out at Bristol Independent Gamers for...          NaN
1   @Ozard_OfWiz @Sparticuszorro 18yo gamers at ho...          NaN
2   @Dr_Died @rttanks @HffRts @Rts_WW @BlazedRTs @...          NaN
3   RT @claeffa: HEY VIDEO GAMING GAMERS https://t...          NaN
4   RT @MethodicalMemes: So many toxic fanboys run...          NaN
5     RT @cyberina: gm gamers https://t.co/y2Vuus2x1d          NaN
6   Good day out at Bristol Independent Gamers for...          NaN
7   @Ozard_OfWiz @Sparticuszorro 18yo gamers at ho...          NaN
8   @Dr_Died @rttanks @HffRts @Rts_WW @BlazedRTs @...          NaN
9   RT @claeffa: HEY VIDEO GAMING GAMERS https://t...          NaN
10  RT @MethodicalMemes: So many toxic fanboys run...          NaN
11    RT @cyberina: gm gamers https://t.co/y2Vuus2x1d          NaN
12  Good day out at Bristol Independent Gamers for...          NaN
13  @Ozard_OfWiz @Sparticuszorro 18yo gamers at ho...          NaN
14  @Dr_Died @rttanks @HffRts @Rts_WW @BlazedRTs @...          NaN
15  RT @claeffa: HEY VIDEO GAMING GAMERS https://t...          NaN
16  RT @MethodicalMemes: So many toxic fanboys run...          NaN
17    RT @cyberina: gm gamers https://t.co/y2Vuus2x1d          NaN

In [117]:

#new = df1.drop(['_id','id'], axis=1)

In [118]:
for column in df1:
     print(column)

Unnamed: 0
_id
id
texto
coordinates

In [119]:
#cursor.execute("CREATE TABLE scraping ( Fecha_Creacion VARCHAR(255), text VARCHAR(255), source VARCHAR(255), user VARCHAR(255), Georeferencia VARCHAR(255), Coordenadas VARCHAR(255),Lugar VARCHAR(255), EstadoTT VARCHAR(255), Entidad VARCHAR(255), Retweeted VARCHAR(255), Idioma VARCHAR(255))")

In [120]:
#cursor.execute("DROP TABLE facebook ")

In [121]:
#new.to_sql(name = 'facebook', con = engine)

In [122]:
try:
    df1.to_sql('facebook2', con=engine, if_exists = 'replace', index = False)
except Exception as e:
    print(e)