In [13]:
import json
from argparse import ArgumentParser
import requests
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import couchdb
import mysql.connector as msql
import pandas as pd
from sqlalchemy import create_engine

In [14]:
connections = msql.connect(host = 'localhost', user = 'root', password = 'casa')
if connections.is_connected():
    cursor = connections.cursor()
    print("Conexi贸n con la base de datos realizada")
else:
    print("Conexion Rechazada")

Conexi贸n con la base de datos realizada

In [ ]:
#borrar la base de datos
#cursor.execute("DROP DATABASE Twitter;")

In [15]:
consulta= pd.read_sql("show databases;", connections)
consulta

             Database
0  information_schema
1               mysql
2  performance_schema
3              sakila
4                 sys
5             twitter
6               world

In [16]:
cursor.execute("CREATE DATABASE Facebook;")

In [ ]:
cursor.execute("Drop DATABASE Facebook;")

In [17]:
consulta= pd.read_sql("show databases;", connections)
consulta

             Database
0            facebook
1  information_schema
2               mysql
3  performance_schema
4              sakila
5                 sys
6             twitter
7               world

In [18]:
engine = create_engine('mysql+mysqldb://root:casa@localhost:3306/facebook')

In [19]:
connections = msql.connect(host = 'localhost', user = 'root', password = 'casa', database ='facebook')
if connections.is_connected():
    cursor = connections.cursor()
    cursor.execute("select database();")
    record = cursor.fetchone()
    print("Se conect贸 a la base de datos: ", record)

Se conect贸 a la base de datos:  ('facebook',)

In [20]:
#extraccion de colecci贸n
URL = 'http://admin:casa@localhost:5984'
print(URL)
tosql = []
CLIENT = MongoClient('mongodb://localhost:27017')

try:
    CLIENT.admin.command('ismaster')
    print('MongoDB connection: Success')
except ConnectionFailure as cf:
    print('MongoDB connection: failed', cf)


DBS=['facebook']


for db in DBS:
    if db not in ('admin', 'local','config'):  
        cols = CLIENT[db].list_collection_names()  
        for col in cols:
            print('Querying documents from collection {} in database {}'.format(col, db))
            for x in CLIENT[db][col].find():
                
                try:
                    
                    documents=json.loads(json_util.dumps(x))
                    #Depende de la cabecera y json
                    documents["_id"]=str(documents["_id"]["$oid"])
                    
                    tosql.append(documents)
                    
                    

                except TypeError as t:

                    print('current document raised error: {}'.format(t))
                    #SKIPPED.append(x)  # creating list of skipped documents for later analysis
                    continue    # continue to next document
                except Exception as e:
                    raise e
print("Lista creada con exito")

http://admin:casa@localhost:5984
MongoDB connection: Success
Querying documents from collection data in database facebook
Lista creada con exito

In [21]:
dataFacebooc = pd.DataFrame(tosql)

In [22]:
dataFacebooc.to_csv("facebook.csv")

In [23]:
dftosql = pd.read_csv("facebook.csv",encoding="utf8")    
dftosql.head()

,Unnamed: 0,_id,id,texto,date,likes,comments,shares,reactions,post_url
0,0,620808b46aee4a59b6453fe4,4876292675739516,"What a build! If you haven't yet, check out ou...",Fri Feb 11 13:01:36 2022,1044,95,20,NaN,https://facebook.com/minecraft/posts/487963456...
1,1,620808ba6aee4a59b6453fe5,4876292675739516,Croaking and leaping aren't the only thing t...,Thu Feb 10 12:00:04 2022,628,40,20,NaN,https://facebook.com/minecraft/posts/487629267...
2,2,620808c36aee4a59b6453fe6,4873389272696523,What helps you navigate when youre spelunking...,Wed Feb 9 13:00:04 2022,2266,454,61,NaN,https://facebook.com/minecraft/posts/487338927...
3,3,620808cb6aee4a59b6453fe7,4870267323008718,"Walk, jog, or race over and check out our new ...",Tue Feb 8 13:01:29 2022,711,74,0,NaN,https://facebook.com/minecraft/posts/487026732...
4,4,620808d26aee4a59b6453fe8,4867236589978458,Whether youre walking across the plains or tr...,Mon Feb 7 13:00:15 2022,1281,256,0,NaN,https://facebook.com/minecraft/posts/486723658...

In [24]:
for column in dftosql:
     print(column)

Unnamed: 0
_id
id
texto
date
likes
comments
shares
reactions
post_url

In [25]:

dfinal = dftosql.drop(['_id','Unnamed: 0','id','reactions'], axis=1)

In [26]:
dfinal.head(3)

,texto,date,likes,comments,shares,post_url
0,"What a build! If you haven't yet, check out ou...",Fri Feb 11 13:01:36 2022,1044,95,20,https://facebook.com/minecraft/posts/487963456...
1,Croaking and leaping aren't the only thing t...,Thu Feb 10 12:00:04 2022,628,40,20,https://facebook.com/minecraft/posts/487629267...
2,What helps you navigate when youre spelunking...,Wed Feb 9 13:00:04 2022,2266,454,61,https://facebook.com/minecraft/posts/487338927...

In [27]:
for column in dfinal:
     print(column)

texto
date
likes
comments
shares
post_url

In [ ]:
#borrar las tabla en Mysql
cursor.execute("DROP TABLE datafb;")

In [28]:
try:
    dfinal.to_sql('dfinal', con=engine, if_exists = 'replace', index = False)
    print("Creaci贸n y almacenamiento completados")
except Exception as e:
    print(e)

Creaci贸n y almacenamiento completados

In [30]:

consultaFacebook= pd.read_sql("SELECT *FROM dfinal;", connections)
consultaFacebook.head(5)

,texto,date,likes,comments,shares,post_url
0,"What a build! If you haven't yet, check out ou...",Fri Feb 11 13:01:36 2022,1044,95,20,https://facebook.com/minecraft/posts/487963456...
1,Croaking and leaping aren't the only thing t...,Thu Feb 10 12:00:04 2022,628,40,20,https://facebook.com/minecraft/posts/487629267...
2,What helps you navigate when youre spelunking...,Wed Feb 9 13:00:04 2022,2266,454,61,https://facebook.com/minecraft/posts/487338927...
3,"Walk, jog, or race over and check out our new ...",Tue Feb 8 13:01:29 2022,711,74,0,https://facebook.com/minecraft/posts/487026732...
4,Whether youre walking across the plains or tr...,Mon Feb 7 13:00:15 2022,1281,256,0,https://facebook.com/minecraft/posts/486723658...